/* CSS declarations go here */
/* reset */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: top
}

section,
header,
footer,
nav {
	display: block
}

html {
	font-size: 100%;
	min-height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%
}

body {
	font-size: 1em;
	line-height: 1.25em;
	min-height: 100%
}

[hidden] {
	display: none
}

html,
button,
input,
select,
textarea {
	font-family: sans-serif
}

abbr[title] {
	border-bottom: 1px dotted
}

b,
strong {
	font-weight: bold
}

blockquote {
	margin: 1em 40px
}

dfn {
	font-style: italic
}

hr {
	background-color: #C9CACC;
	display: block;
	height: 1px;
	border: 0;
	margin: 2em 0;
	padding: 0;
	clear: both
}

ins {
	background: #ffff99;
	color: black;
	text-decoration: none
}

mark {
	background: yellow;
	color: black;
	font-style: italic;
	font-weight: bold
}

pre,
code,
kbd,
samp {
	font-family: monospace, serif;
	_font-family: "courier new", monospace;
	font-size: 1em
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word
}

q {
	quotes: none
}

q:before,
q:after {
	content: "";
	content: none
}

small {
	font-size: 85%
}

sub,
sup {
	font-size: 50%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -0.75em
}

sub {
	bottom: -0.25em
}

ul,
ol {
	margin: 1em 0;
	padding: 0 0 0 40px
}

dd {
	margin: 0 0 0 40px
}

nav ul,
nav ol {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td {
	vertical-align: top
}

/* end reset */

html {
	background-color: #f4f4f4;
	font-family: sans-serif;
	font-size: 14px;
}

body {
	margin: 0 auto;
}

h1,
h2 {
	font-weight: bold;
	margin: 1em 0;
}

h1 {
	font-size: 2em;
	margin-top: 0;
	padding-top: 1em;
}

h2 {
	font-size: 1.5em;
}

table,
.table {
	border: 0;
	border-collapse: collapse;
	display: table;
	line-height: 1em;
	width: 100%;
}

thead,
.thead {
	display: table-header-group;
}

tfoot,
.tfoot {
	display: table-footer-group;
}

tbody,
.tbody {
	display: table-row-group;
}

tr,
.tr {
	display: table-row;
}

tr:nth-of-type(odd),
.tr:nth-of-type(odd) {
	background-color: #f4f4f4;
}

tr:hover,
.tr:hover {
	background-color: #FDBB30;
}

th,
td,
.td {
	display: table-cell;
	padding: .5em;
	text-align: left;
}

.td.colspan {
	left: 0;
	position: absolute;
	right: 0;
}

thead tr th,
.thead .tr {
	background-color: #666;
	color: #fff;
	font-weight: normal;
}

thead tr th,
.thead .tr .td {
	white-space: nowrap;
}

tfoot tr,
.tfoot .tr,
.tfoot .td {
	background-color: #c2c2c2 !important;
	color: white;
}

tfoot td,
.tfoot .tr .td {
	text-align: center;
}

.outer {
	border: 1px solid #dbdbdb;
	margin: 1em 0;
	overflow: auto;
	position: relative;
}

.sticky {}

/* this block only applies if JS is on */
.jsApplied .outer {
	overflow: hidden;
}

.jsApplied tfoot tr,
.jsApplied .tfoot .tr,
.jsApplied .tfoot .td {
	background-color: transparent !important;
}

.jsTBODY {
	margin-bottom: 2em;
	overflow: auto;
}

.jsTBODY .inner {}

.jsTBODY tfoot,
.jsTBODY .tfoot {
	display: none
}

.jsTHEAD {
	height: 2em;
	left: 0;
	margin: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
}

.jsTHEAD table,
.jsTHEAD .table {
	margin: 0 auto;
}

.jsTHEAD .inner {
	margin: 0 auto;
	overflow: hidden;
}

.jsTFOOT {
	bottom: 0;
	height: 2em;
	left: 0;
	margin: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	z-index: 2;
}

.jsTFOOT .inner {
	background-color: #c2c2c2;
	margin: 0 auto;
	overflow: hidden;
}

/* end block */

.nobr {
	white-space: nowrap;
}

.tcenter {
	text-align: center;
}

.sticky::-webkit-scrollbar {
	background-color: #f4f4f4;
	border: 0;
	height: 10px;
	width: 10px;
}

.sticky::-webkit-scrollbar-button {
	display: none;
}

.sticky::-webkit-scrollbar-track {
	background-color: #f4f4f4;
	border-radius: 10px;
}

.sticky::-webkit-scrollbar-track:window-inactive {
	background-color: #f4f4f4;
}

.sticky::-webkit-scrollbar-thumb {
	background-color: #babcbf;
	border: 2px solid #f4f4f4;
	border-radius: 10px;
}

.sticky::-webkit-scrollbar-thumb:hover {
	background-color: #939598;
}

.sticky::-webkit-scrollbar-thumb:window-inactive {
	background-color: #e8e8e8;
}

.sticky::-webkit-scrollbar-corner {
	background-color: #f4f4f4;
}

.wrapper {
	position: relative;
	border-radius: 3px;
	background: #ffffff;
	border-top: 3px solid #3c8dbc;
	margin-bottom: 20px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin: 10px;
}

.form-control {
	border-radius: 0;
	box-shadow: none;
	border-color: #d2d6de;
}

.input-sm {
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

.form-control {
	/* display: block; */
	/* width: 100%; */
	height: 17px;
	/* padding: 6px 12px; */
	font-size: 11px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #e8e8e8;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.btn-primary {
	background-color: #3c8dbc;
	border-color: #367fa9;
}

.btn {
	border-radius: 3px;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 1px solid transparent;
}

.btn-block {
	display: block;
	width: 100%;
}

.btn-primary {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

p {
	padding-top: 10px;
}